extends ../layout 

block content
    h1 Blenders
    hr
    .row
    each product in products
        .col-md-6
        p
        a(href="../images/" + product.productName + ".png" alt=product.productName target="new")
        img(src="../images/" + product.productName + ".png" alt=product.productName height=250, width=250)
        p
        p='ID: ' + product.productID
        p='Name: ' + product.productName
        p='Brand: ' + product.productBrand
        p='Description: ' + product.productDescription
        p='Price: $' + product.productPrice
        p='UPC' + product.productUPC
        p
        a.btn.btn-raised(href='#', role='button') Add to Cart »
        p